@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Matthew Gale</h3>

<ul>
    <li><strong>Mobile:</strong> <a href="tel:0459329444">0459 329 444</a></li>
    <li><strong>Email:</strong> <a href="mailto:matt@matt-gale.com">matt@matt-gale.com</a></li>
</ul>
